.shopping-bag{
    width: 35px;
    height: auto;
    margin-left: 700px;

}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.jumbotron.jumbotron-fluid.comprar{
    background-image: url(./assets/images/Copia\ de\ portada.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
}
.container{
    padding-top: 100px;
}

.container ul{
    list-style-type: none;
}

.parrafo1{
    font-family: montserrat-bold;
    font-size: 50px;
    color: white;
    
}

@font-face {
    font-family: montserrat-light;
    src: url(./assets/fonts/Montserrat-Light.ttf);
    
}

@font-face {
    font-family: montserrat-thin;
    src: url(./assets/fonts/Montserrat-Thin.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(./assets/fonts/Montserrat-Bold.ttf);
}

@font-face{
    font-family: cherolina;
    src: url(./assets/fonts/cherolina/Cherolina.otf);
}

.navbar-brand{
    font-family: cherolina;

}

a.navbar-brand{

    font-size: 30px;
    color: #eccecc;
    
}
.parrafo2{
    font-family: montserrat-thin;
    font-size: 45px;
    color: white;
    margin-top: -15px;

}

.parrafo3{
    font-family: montserrat-thin;
    font-size: 45px;
    color: white;
    margin-top: -15px;

}

.boton-compra{
    padding-top: 30px;
}
button.btn.btn-light{
    background-color: white;
    font-family: montserrat-light;
    border-color: white;
}

button.btn.btn-light:hover{
    background-color: rgba(239,129,138,0.2);
    border-color: rgba(239,129,138,0.2);
    color: white;
}

a.nav-link:hover{
    color: #eccecc;
}

a.nav-link.active:hover{
    color: #eccecc;
}
/*
.boton-compra{
    margin-top: 60px;
}
.btn-light{
    --bs-btn-hover-bg: #e3cef6;
    --bs-btn-hover-border-color: #e3cef6;
}
*/

.titulo{
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
h1{
    font-family: montserrat-bold;

}

h3{
    font-family: montserrat-light;
    color: #eccecc;
}

.best-sellers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 700px;
    flex-wrap: wrap;
   
}

.hijo{
    display: grid;
   align-items: flex-start;
   text-align: center;
}

.helado{
    width: 300px;
    height: 300px;
}

.foto-1{
    padding-left: 150px;
}

.foto-3{
    padding-right: 150px;
}


h5{
    padding-top: 15px;
    font-family: montserrat-light;
}
/*
@media (hover:hover) {
    .helado:hover{
        background-color: gray;
    }
}*/

.parte-3{
    text-align: center;
    margin-bottom: 50px;
    font-size: 25px;
    font-family: 'montserrat-light';
}
.conoce{
    display: inline-block;
}
a.link-sabores{
    text-decoration: none;
    color: black;
}
a.link-sabores:hover{
    color: #eccecc;
}

h7{
    font-family: montserrat-thin;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 130px;
    margin-right: 140px;
    margin-top: -80px;
    position: relative;
    border-style: solid;
    border-width: 1px;
}

h7::after,h7::before{
    content: "";
    position: absolute;
    width: 300px;
    height: 1px;
    background-color: currentColor;
    top: 11px;
}

h7::before{
    left: -355px;
}

h7::after{
    right: -360px;
}

.cards{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

}

figure{
    position:relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
}

.cards figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.capa{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(236,206,204,0.7);
    opacity: 0;
    visibility: hidden;
    text-align: center;
    align-items: center;
    padding-top: 90px;

}

figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}

.capa a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: montserrat-light;

}

.capa a:hover{
    color: gray;
}
.g-1{
    grid-area: uno;
}
.g-2{
    grid-area: dos;
}
.g-3{
    grid-area: tres;
}
.g-4{
    grid-area: cuatro;
}
.g-5{
    grid-area: cinco;
}
.g-6{
    grid-area: seis;
}
.g-7{
    grid-area: siete;
}

.mas:hover{
    color: #eccecc;
}
.blog{

    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas: "uno dos tres"
                         "cuatro cinco seis"
                         "siete siete siete" ;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    /*
    background-color: gray;
    background-size: 1500px 100px;
    background-repeat: no-repeat;*/
}

.cards img-1{
    padding-left: 148px;
}

a.texto-img{
    margin-top: 40px;
}

.mas{
    font-size: 60px;
    font-family: 'montserrat-thin';
    color: black;
    text-decoration: none;
    
}

.servicios{
    display: grid;
    width: 100%;
    grid-template-columns: 200px 200px 200px;
   
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    grid-column-gap: 40px;
    margin-top: -10px;
}

.servicios a{
    text-decoration: none;
    font-family: montserrat-light;
    color: black;

}

.servicios a:hover{
    color: #eccecc;
}
.servicios a img{
    width: 25%;
    height: 25%;
}

.delivery{
    padding-top: 25px;
}

footer{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    align-items: flex-start;
    justify-items: center;
    text-align: inherit;
    padding-left: 30px;
    background-color: #eccecc;
    padding-top: 100px;
    margin-top: 100px;
}

footer p{
    color: black;
    font-family: montserrat-light;
}

footer a{
    text-decoration: none;
}

footer a p:hover{
    color: white;
}

footer h6{
    padding-bottom: 10px;
    font-family: montserrat-bold;
}
button.btn.btn-primary.mb-3 {
    background-color: #ef818a;
    border-color: #ef818a;
    font-family: montserrat-light;
    
}

button.btn.btn-primary.mb-3:hover{
    background-color: rgba(255,255,255,0.2);
    border-color: rgba(255,255,255,0.2);
}

#text{
    text-align: center;
    font-family: montserrat-light;
}

.redes{
    display: flex;
    height: 30px;
    width: 200px;
    overflow: hidden;
    margin-top: 70px;
    padding-left: 45px;
}

.redes img{
    width: 100%;
    height: 100%;
}

.instagram{
    margin: 0px 10px;
}
 
@media screen and (max-width:1220px){
    .shopping-bag{
        margin-left: 0px;

    }

    .foto-1{
        grid-area: uno;
        padding-left: 0px;
    }
    .foto-2{
        grid-area: dos;
    }
    .foto-3{
        grid-area: tres;
        padding-right: 0px;

    }
    .conoce{
        grid-area: cuatro;
        width: 220px;
        margin-top: -250px;
        margin-right: 0px;
        margin-left: 190px;
        text-align: center;
    }

    .best-sellers{
        display: grid;
        height: auto;
        grid-template-columns: 300px 300px;
        grid-template-rows: 400px 400px 400px;
        grid-template-areas: "uno dos"
                             "tres tres"
                             "cuatro cuatro";
        align-items: center;
        justify-content: center;
    }

    a.link-sabores{
        margin-top: -200px;
    }
}

@media screen and (max-width:1023px) {
    a.link-sabores{
        margin-top: -200px;
    }
    h7::after,h7::before{
        content:none;
    }

    .parte-3{
        margin-top: -200px;
    }

    footer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width:900px){
    
    header{
        margin-top: 80px;
    }
    
    .blog{
        grid-template-columns: 220px 220px 220px;
        grid-template-rows: 200px 200px 200px;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:680px){
   
    .titulo h3{
        font-size: 20px;
    }

    .comprar li{
        font-size: 30px;
    }
    .parrafo2{
        padding: 10px 0px 10px;
    }
    .parte-3{
        font-size: 20px;
    }
    .best-sellers{
        display: grid;
        height: auto;
        grid-template-columns: 300px;
        grid-template-rows: 400px 400px 400px 400px;
        grid-template-areas: "uno"
                             "dos"
                             "tres"
                             "cuatro";
        align-items: center;
        justify-content: center;
    }
    .conoce{
        margin-left: 40px;
    }
    .blog{
        display: flex;
        flex-flow: column;
    }
    .servicios{
        grid-template-columns: 100px 100px 100px;
    }
    .wraps{
        padding-top: 25px;
    }
    footer h6{
        font-size: 10px;
    }
    footer a {
        font-size: 10px;
    }
    footer p {
        font-size: 10px;
    }
    .redes{
        height: 25px;
        margin-top: 35px;
    }

    button.btn.btn-primary.mb-3{
        --bs-btn-padding-x: 0px;
        --bs-btn-padding-y: 0px;
        font-size: 10px;
        --bs-btn-padding-right:0px;
        width: 50%;
        
    }

    input#text{
        width: 80%;
        font-size: 15px;
        
    }
}

@media screen and (max-width:580px){
    .comprar{
        text-align: center;
        background-position: bottom;
    }
    
    footer{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 25px;
        padding-top: 40px;
        padding-bottom: 20px;
        padding-left: 0px;
        
    }

    .bot{
        margin-left: 110px;
    }

    button.btn.btn-primary.mb-3{
        width: 90%;
        --bs-btn-padding-x: 2px;
        --bs-btn-padding-y: 2px;
    }

    .redes{
        margin-top: 5px;
        padding-left: 33px;
    }
    
    
}
